<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header class="header">
        <h1>Coupons App</h1> 
        <a href="/users/logout" class="btn btn-secondary offset-11">Logout</a>
        <hr />
    </header>

    <main>
        <h1>Validation of Coupon</h1>
    </main>
    
</body>
</html>